<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts.css') }}">
  <title>{% block title %} {% endblock %}</title>
  {% endblock %}
</head>

<body>
  <nav>
    <div id="logo">
      <a href="{{ url_for('home') }}">
        <h4>VOTING SYSTEM</h4>
      </a>
    </div>
    <div class="links">
      {% if current_user.is_authenticated %}
      <div class="login">
        <p>Welcome, <b>{{ current_user.first_name }} {{ current_user.last_name }}</b></p>
      </div>
      {% else %}
      <a href="{{ url_for('registration') }}">
        <button class="btns btn1">SIGN UP</button>
      </a>
      <a href="{{ url_for('login') }}">
        <button class="btns btn2">SIGN IN</button>
      </a>
      {% endif %}
    </div>
  </nav>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="tops">
    {% for category, message in messages %}
    <div class="alert alert-{{category}}">
      <div class="side"></div>
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  {% block body %} {% endblock %}
</body>

</html>