{% extends 'layouts.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block title %}
Voting System | Register
{% endblock %}

{% block body %}
<div class="form">
  <h4>Sign Up</h4>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="input">
      {{ form.first_name.label }}
      {{ form.first_name(placeholder="Enter First Name") }}
    </div>
    <div class="input">
      {{ form.last_name.label }}
      {{ form.last_name(placeholder="Enter Last Name") }}
    </div>
    <div class="input">
      {{ form.age.label }}
      {{ form.age(placeholder="Ente Age") }}
    </div>
    <div class="input">
      {{ form.phone_number.label }}
      {{ form.phone_number(placeholder="Enter Phone Number") }}
    </div>
    <div class="input email">
      {{ form.email_address.label }}
      {{ form.email_address(placeholder="Enter Email Address") }}
    </div>
    <div class="input">
      {{ form.password.label }}
      {{ form.password(placeholder="Enter Password") }}
    </div>
    <div class="input">
      {{ form.password1.label }}
      {{ form.password1(placeholder="Confirm Password") }}
    </div>
    <button class="btn" type="submit">
      <span class="button--text">SIGN UP</span>
    </button>
  </form>
</div>

<script src="{{ url_for('static', filename='Js/register.js') }}"></script>
{% endblock %}