{% extends 'layouts.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/vote.css') }}">
{% endblock %}

{% block title %}
Voting System | Vote Casted
{% endblock %}

{% block body %}
<div class="vote">
  <div class="image">
    <img src="{{ url_for('static', filename='Images/complete.gif') }}" alt="ballot">
  </div>
  <h4>Thank you for your participation in the election <br> Your vote has been recorded</h4>
  {% set vote = current_user.vote[-1] %}
  <p> Your vote ID <b>#{{ vote.vote_id }}</b>
  </p>
</div>

<script src="{{ url_for('static', filename='Js/register.js') }}"></script>
{% endblock %}